html {
    background-color: rgb(85, 85, 71);
}

.memslider{
    width: 100vw;
    margin-top: 300px;
    margin-bottom: 300px;
    margin-left: 500px;
    padding-right: 500px;
}

.foto {
    height: 1200px;
    width: 100vw;
}

